/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*

body {
  background-color: #FFFFFF;
  font-size: 15px;
  font-family: Verdana;
  color: #020822;
  text-align: center;
}

#container {
  border: 25px #020822 solid;
  border-radius: 60px;
  font-weight: bold;
  font-size: 40px
}

ul li {
  text-align: left;
  color: #800080;
  text-align: left;
}

input {
  font-size: 25px;
}

.winner {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #999;
}

.highlight {
  color: #DD0000;
  font-weight: bold;
}

 */
